// 左侧菜单宽度
$base-menu-width: 260px;

// 左侧菜单背景颜色
$base-menu-background-color: #001529;

// 顶部导航栏高度
$base-tabbar-height: 60px;

// 顶部导航栏颜色
$base-tabbar-background-color: cyan;

// 内容背景颜色
$base-main-background-color: yellowgreen;

$base-menu-logo-height: 50px;

$base-logo-title-fontSize: 20px;

$base-menu-min-width: 64px;
